{{ define "content" }}
<section class="container resume">
  <h1>{{ .Title }}</h1>
  {{ $resume := site.Data.en.resume }}

  {{ range $resume }}
  <section class="resume-entry">
    <h3 class="text-xl font-semibold">{{ .title }}</h3>
    <p class="text-sm text-gray-600">
      <strong>{{ .company }}</strong>
      {{ if .location }} - {{ .location }}{{ end }}<br>
      <em>{{ .date }}</em>
    </p>
    <p class="mt-2 whitespace-pre-line">{{ .content }}</p>
  </section>
  {{ end }}
</section>
{{ end }}