<div>

  <iframe id='download_cv_pdf' style="display:none"></iframe>
  <a href='#' rel='noopener noreferrer' class='float-right'>
    <i class='fa-solid fa-file-pdf'
    onclick="document.getElementById('download_cv_pdf').src = 'https://docs.google.com/document/d/1aV28VOAtjoYsWT6ASsBQsIW9p5g18DgIDhfWAnPMalg/export?format=pdf'">
  </i>
  Download PDF
</a>

<!-- <iframe src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://docs.google.com/document/d/1aV28VOAtjoYsWT6ASsBQsIW9p5g18DgIDhfWAnPMalg/export?format=pdf"
type="application/pdf" width="100%" 
style="border: none;">
</iframe> -->
</div>
